{% extends "base.html" %}

{% block content %}
  <h1>Welcome to Portfolio</h1>

  <div>
    <form method="POST" action="{{url_for('auth.login')}}">
        {{form.csrf_token}}
        
        {{ form.email.label }}<br> 
        {{ form.email }}<br>
        {% for error in form.email.errors %}
            <li style="color:red;"> {{error}}</li>
        {%endfor%}

        {{ form.passphrase.label }}<br>
        {{ form.passphrase }}<br>
        {% for error in form.passphrase.errors %}
            <li style="color:red;"> {{error}}</li>
        {%endfor%}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li> {{message}} </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

      <p><input type="submit" value="Log In" class=""></p>
    </form>
  </div>
{% endblock %}