{% extends "base.html" %}
{%block title%} <title>Your Piggybank Portfolio</title> {%endblock%}
{%block scripts%}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
{%endblock%}

{% block content %}
<div class="container">
    <div class="row pb-5">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"> 
            <a class="navbar-brand" href="#">
                    <img src="static/img/piggybank_logo.png" style="width: 50%" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
             </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.portfolio')}}">Portolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.transaction')}}">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
                    </li>
                 </ul>
            </div>
            
        </nav>
    </div>
    <div class="row pt-5">
        <div class="col">
        <h2>Welcome {{name}}!</h2> 
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-6 border-right align-items-center text-center">
            <div id="transaction">
                <h4>Portfolio value: $[[portfolioValue]] [[calculateValue()]] </h4>

            <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Current Value ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="stock in portfolio"> 
                            <td>[[stock.stock_symbol]]</td>
                            <td>[[stock.quantity]]</td>
                            <td>[[stock.current_value]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-6 border-left align-items-center text-center">
        <div id="balance">
            <h4>Current Cash Balance: $[[ balance ]]</h4>
        </div>
        <div id="purchase">
            <form  class="md-form mx-5 px-5"> 
                    <div v-if="errors.length" class="alert alert-warning" role="alert">
                    <b>Please correct the following error(s):</b>
                    <ul>
                        <li v-for="error in errors">[[error]] </li>
                    </ul>
                    </div>

                <input id="symbol" v-model="stockSymbol" @change="validateSymbol" name="stock_symbol" class="form-control" required type="text" placeholder="Stock symbol" value=""><br>
                <input id="amount" v-model="quantity" @change="validateQuantity" name="amount" class="form-control" placeholder="Quantity" value=""><br>
                <p>Current ask price: $ [[askPrice]]</p>
                <p>X</p>
                <p>Quantity: [[quantity]]</p>
                <p>Total Purchase Amount: $ [[totalAmount]] </p>
                <input v-on:click="validatePurchase" class="btn btn-success btn-lg" type="button" value="Purchase">   
            </form>   
        </div>
        </div>
    </div>
</div>
<script>
var vm1 = new Vue({
    delimiters : ['[[',']]'],
    el: '#balance',
    data: () => {
      return {
         balance: null,
      }},
    mounted () {
        axios
        .get('http://localhost:5000/api/balance/me')
        .then(response => (this.balance = response.data.balance.toFixed(2)))
  }}
  );

var vm2 = new Vue({
delimiters : ['[[',']]'],
el: '#purchase',
data: () => {
    return {
    stockSymbol: null,
    validSymbol: false,
    askPrice: null,
    quantity: null,
    totalAmount: null,
    eligibleSymbols: null,
    validInteger: false,
    errors: []
    }},

mounted () {
    axios
        .get('https://api.iextrading.com/1.0/ref-data/symbols')
        .then(response => (this.eligibleSymbols = response.data))
},

methods: {
    validateSymbol:function(event) {
        this.errors = [];
        this.validSymbol = false;
        this.askPrice = null;
        this.totalAmount = null;
        this.quantity = null;

        for (var i=0; i<this.eligibleSymbols.length; i++ ){
            if (this.eligibleSymbols[i].symbol == this.stockSymbol.toUpperCase()){
                this.validSymbol = true;
            } 
        }
        
        if (this.validSymbol == false){
            this.errors.push("Please submit a valid symbol.")
        } else {
        var baseURL = 'https://api.iextrading.com/1.0/tops?symbols='
        axios
        .get(baseURL.concat(this.stockSymbol.toUpperCase()))
        .then(response => (this.askPrice = response.data[0].askPrice.toFixed(2)))
        }
        event.preventDefault();

    },
    validateQuantity:function(event){
        this.errors = [];
        this.totalAmount = null;
        this.validInteger = Number.isInteger(+this.quantity);

        if (this.validInteger==true){
            this.totalAmount = this.askPrice * this.quantity;
            this.totalAmount = this.totalAmount.toFixed(2);

        } 
        if (this.validInteger==false){
            this.errors.push("Please submit a whole number of shares to purchase.");
        }

    },
    validatePurchase:function(event){
        this.errors = [];
        var purchaseValid = false;

        if (parseFloat(vm1.balance) < parseFloat(this.totalAmount)){
            this.errors.push("Your total purchase amount is more than your current balance.");
        } else if (this.askPrice <=0.00){
            this.errors.push("Can't purchase stock trading with an ask price of zero dollars. Please enter a valid stock symbol and quantity.")
        } else if (this.quantity <= 0.00){
            this.errors.push("Please insert a whole number above zero.")
        } else{
            purchaseValid = true;
        }

        if (purchaseValid){
    
            axios({
                method: 'POST',
                url: 'http://localhost:5000/api/transaction/me',
                data:{
                    "stock_symbol" : this.stockSymbol.toUpperCase(),
                    "quantity" : this.quantity,
                    "date_purchased" : new Date()
                }
            })

            vm1.balance = (parseFloat(vm1.balance) - parseFloat(this.totalAmount))

            axios({
                method: 'PUT',
                url: 'http://localhost:5000/api/balance/me',
                data:{
                    "new_balance" : vm1.balance.toFixed(2)
                }
            })

            window.location.reload(true); 
        } 
    }
}
});

var vm3 = new Vue({
delimiters : ['[[',']]'],
el: '#transaction',
data: () => {
    return {
    portfolioValue: 0.00,
    portfolio: null,
    }},

created () {
    axios
        .get("http://localhost:5000/api/portfolio/me")
        .then(response => (this.portfolio = response.data)); 
},

methods: {
    calculateValue:function(){
        let amt = 0.00;
        for (var i=0; i < this.portfolio.length; i++){
            amt += this.portfolio[i].current_value
        }
        this.portfolioValue = amt.toFixed(2);
    }

}
});
</script>
{% endblock %}
